*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

html{
    font-size: 61.5%;
}

.login-container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(yellow,brown);
}

.container{
    display: flex;
    position: relative;
    width: 80%;
    padding: 0%;
    margin: auto;

}


/* ##################    Utility Class    ############### */

/* .heading-lg{
    font-size: 5rem;
    color: black;
}

.heading-small{
    font-size: 2rem;
    color: black;
} */

/* ############    navbar Styling     ################  */

.navbar{
    position: relative;
    width: 100%;
    color: white;
    padding: 0.1em;
    border-radius: 0px;
    background: rgb(7, 2, 2);
}

.navbar .heading-lg{
    font-size: 3rem;
    line-height: 1.7em;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
}

.navbar .logo{
    font-size: 3rem;
    color: #ffffff;
}

.navbar .heading-small{
    font-size: 2rem;
    color: #ffffff;
    line-height: 2.8em;
    padding: 0px;
    margin: 0px;
}

/* .navbar .logo{ */
    /* text-align: left; */
/* } */

.navbar .logo-2{
    position: absolute;
    right: 0%;
}

.login-text-content .text-content{
    width: 45%;
    line-height: 1.3em;
    margin-top: 3em;
    letter-spacing: 0.08em;
    text-transform: capitalize;
}

.login-form{
    display: flex;
    justify-content: center;
    width: 50em;
    margin-top: 3em;
    text-align: center;

}

.login-form .form{
    display: inline-block;
    width: 30em;
    height: auto;
    background: #f7f3f3e3;
    border-radius: 1.5em;
    padding: 1em 2em;
}

.login-heading .heading-small{
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 1.5em;
    font-weight: 750;
    font-size: 2.5rem;

}

.login-form input{
    display: block;
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    font-size: 2rem;
    outline: none;
    border: none;
    background: rgb(219, 211, 211);
    color: rgba(0, 0, 0, 0.774);
}


.login-form .submit-btn{
    width: 100%;
    height: 2.8em;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 1em;
    background: skyblue;
}

.hr{
    height: 1em;
    margin-bottom: 1.7em;
    border-bottom: 1px solid black;    
}

.other-login-buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-weight: 500;
    margin-bottom: 1em;
}

.other-login-buttons .btn{
    font-weight: 700;
}
